<h1>Greenwich Cần Thơ</h1>
   <img src="https://greenwich.edu.vn/wp-content/uploads/2022/11/2022-06-27_150513-1280x580.png" width="50%" height="50%">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/cRXQa4K6GWY?si=6J71tC3BOOlOPVeb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>  
